.shopping__item {
    display: flex;
    align-items: flex-start;
    padding: 1.3rem 0;
    border-bottom: 1px solid #F2EFEE;
    position: relative; 
    opacity: 1;
    visibility: visible;
}

.shopping__count {
    flex: 0 0 7.5rem;
    padding: .4rem .5rem;
    border: 1px solid #F2EFEE;
    border-radius: 3px;
    margin-right: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
}

.shopping__count input {
    color: inherit;
    font-family: inherit;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    width: 3.7rem;
    border-radius: 3px; 
}

.shopping__count input:focus {
    outline: none;
    background-color: #F2EFEE; 
}

.shopping__count p {
    font-size: 1.2rem; 
}

.shopping__description {
    font-size: 1.3rem;
    margin-top: .4rem;
    margin-right: 1rem; 
}

.shopping__delete {
  margin-top: .5rem;
  position: absolute;
  right: 0;
  background-image: linear-gradient(to right, transparent 0%, #fff 40%, #fff 100%);
  width: 3.75rem;
  padding-left: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all .5s; 
}

.shopping__item:hover .shopping__delete {
  opacity: 1;
  visibility: visible; 
}