.recipe__details {
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    padding: 8rem 3rem 3rem 3rem; 
}
.recipe__info {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center; 
}
.recipe__info:not(:last-child) {
    margin-right: 4rem; 
}

.recipe__infoIcon {
    height: 2rem;
    width: 2rem;
    fill: #F59A83;
    margin-right: 1rem; 
}
.recipe__infoData {
    margin-right: .4rem;
    font-weight: 600; 
}
.recipe__infoButtons {
    display: flex;
    margin-left: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    transition: all .4s; 
}

.recipe__details:hover .recipe__infoButtons {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}
