/*
FIG
*/
.likes__fig {
    flex: 0 0 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    height: 5.5rem;
    margin-right: 2rem;
    position: relative;
    backface-visibility: hidden; 
}

.likes__fig::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    opacity: .4; 
}

.likes__fig img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s; 
}

.recipe__fig {
    height: 30rem;
    position: relative;
    transform: scale(1.04) translateY(-1px);
    transform-origin: top; 
}

.recipe__fig::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    opacity: .6; 
}

/*
IMG
*/
.header__logo {
    margin-left: 4rem;
    height: 4.5rem;
    display: block; 
} 

.recipe__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; 
}
