.ItemPanel_list {
    list-style: none;
}
h2 {
    display: flex;
    justify-content: space-around;
}

.likes {
    position: relative;
    /*align-self: stretch;*/
    display: flex;
    padding: 0 !important; 
    padding: 3rem 0;
}

.likes__panel {
    position: absolute;
    right: 0;
    top: 10rem;
    z-index: 10;
    padding: 2rem 0;
    width: 34rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all .5s .2s; 
}

.likes__panel:hover,
.likes__field:hover + .likes__panel {
    visibility: visible;
    opacity: 1; 
}


.likes__field {
    cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all .3s; 
}

.likes__field:hover {
    background-color: #F2EFEE;
    visibility: visible;
    opacity: 1; 
}

.likes__icon {
    height: 3.75rem;
    width: 3.75rem; 
}
